.body {
  min-height: 100vh;
  background-image: url("../images/internship-program.png");
  background-color: rgba(0, 0, 0, 0.551);
  background-blend-mode: color;
  background-size: cover;
  background-repeat: no-repeat;
}

.header {
  min-height: 10vh;
}

.section {
  max-height: 50vh;
  overflow: scroll;
}

footer {
  min-height: 10vh;
}

header a,
footer a {
  color: crimson;
}
